# Ignore Play! working directory #
bin/
/app/db/
/db
.eclipse
/.classpath
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
# Ignore Mac OS X
.DS_Store