 /*! -- ToKa Layout */
 body{
	background-image: url(../images/hintergrund_trans.jpg);
 }
  
 .abstand-rechts {
	margin-right: 10px;
 }
 
 .navbar-brand {
    line-height: 90px;
    height: 90px;
    padding-top: 0;
 }
 
  /*! -- ToKa Input-Elements */
 .toka_textfelder {
	width: 300px;
 }
 
 .toka_textarea {
	width: 40%;
 }
 
  /*! -- ToKa Header */
 #toka_header {
	position: relative;
	height: 220px;
	margin: 0px 50px 10px 50px;
}

.toka_headerTopLine {
    position: absolute;
    top: 78px;
    right: 123px;
}
 
.toka_logo {
    position: absolute;
    top: 30px;
    left: 0px;
}

.toka_headerText {
    position: absolute;
    top: 80px;
	left:480px;
}

.toka_headerSearch {
    position: absolute;
    top: 103px;
    right: 30px;
}

 /*! -- ToKa Footer */
 #toka_footer {
    position: relative;
    height: 50px;
    margin: 10px 50px 0px 50px; 
} 

 /*! -- ToKa Fonts */
.navbar-text {
	font-size:40px;
}

.toka_weisserText {
	color:white;
}