@(userVorname: String)
@main("AGBs")(userVorname)("2") {
	<div class="row">
		<div class="col-md-4">
			<div class="container-fluid">
				<h1>AGBs</h1>
				<div class="toka_paragraph"></div>
				<p><i>Unsere Seite dient ausschließlich als Informationsquelle für die bessere Planungsentscheidung Ihres nächsten Hotelbesuches. Innerhalb unserer Web-Präsenz kommt es zu keinem Zeitpunkt zu einem Vertragsabschluss. <br/>
				AGBs sind in diesem Sinne keine definiert.</i></p>
			</div>
		</div>
	</div>
}