@(userVorname: String)
@main("Kontakt")(userVorname){
<div class="row">
	<div class="col-md-3">
		<div class="container-fluid">
			<h2 class="toka_weisserText">Kontakt</h2>
			<strong class="toka_weisserText">ToKa GmbH</strong>
			<p class="toka_weisserText">Hauptstraße 1a</p>		
			<p class="toka_weisserText">78462 Konstanz</p>	
			<p class="toka_weisserText">Telefon: +49 0176 00000010</p>
		</div>
	</div>
	<div class="col-md-9">
		<div class="container-fluid">
			<h2 class="toka_weisserText">Anfahrt</h2>
			<img src=@routes.Assets.at("images/anfahrt.jpg") alt="Anfahrt">
		</div>
	</div>
</div>
}