@(userVorname: String)
@main("Kontakt")(userVorname)("2"){
<div class="row">
	<div class="col-md-3">
		<div class="container-fluid">
			<h2>Kontakt</h2>
			<div class="toka_paragraph"></div>
			<h4>ToKa GmbH</h4>
			<i>Untere Laube<br/>
			78462 Konstanz<br/>	
			Telefon: +49 0176 00000010<br/>
			<div id="toka_emailLine">
				<a href="mailto:toka@@mail.de">
					<div id="toka_emailIcon">
						<img src=@routes.Assets.at("images/brief-icon1.png")>
						toka@@mail.de</a></i>
					</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="container-fluid">
			<h2>Anfahrt</h2>
			<div class="toka_paragraph"></div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d671.7623867967785!2d9.173505209815803!3d47.66403385902182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479af6fd54193679%3A0x5699218e4bf7d9d3!2sUntere+Laube%2C+78462+Konstanz!5e0!3m2!1sde!2sde!4v1418121932116" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
</div>
}