@(userVorname: String)
@main("Hotelsuche")(userVorname)("2") {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h2>Hotelsuche</h2>
				<form method="GET" action="results_hotel_enhancedSearch">
					<p><input pattern="[a-zA-Z&ouml&Ouml&uuml&Uuml&auml&Auml&szlig]*" title="Bitte nur Buchstaben" placeholder="Land" name="land" class="form-control toka_textfelder"></p>
					<p><input pattern="[a-zA-Z&ouml&Ouml&uuml&Uuml&auml&Auml&szlig]*[ ][a-zA-Z&ouml&Ouml&uuml&Uuml&auml&Auml&szlig]*" title="Bitte nur Buchstaben" placeholder="Stadt" name="stadt" class="form-control toka_textfelder"></p>
					<p><input pattern="[a-zA-Z&ouml&Ouml&uuml&Uuml&auml&Auml&szlig]*" title="Bitte nur Buchstaben" placeholder="Hotel" name="hotel" class="form-control toka_textfelder"></p>
										
					<label for="ai" class="radio-inline">All Inclusiv</label>
					<input type="radio" name="verpflegung" id="ai" value="AI" checked="checked"></br>
										
					<label for="hp" class="radio-inline">Halbpension</label>
					<input type="radio" name="verpflegung" id="hp" value="HP"></br>
					
					<label for="vp" class="radio-inline">Vollpension</label>
					<input type="radio" name="verpflegung" id="vp" value="VP"><br>
								
					<div class="checkbox">
						<label for="pool">Pool</label>
						<input type="checkbox" name="pool" id="pool" value="ja">
						<input type="hidden" name="pool" value="nein"></br>
						<label for="strand">Strand</label>
						<input type="checkbox" name="strand" id="strand" value="ja">
						<input type="hidden" name="strand" value="nein"></br>
						<label for="zentrum">Zentrum</label>
						<input type="checkbox" name="zentrum" id="zentrum" value="ja">
						<input type="hidden" name="zentrum" value="nein"></br>
						<label for="fahrrad">Fahrrad verleih</label>
						<input type="checkbox" name="fahrrad" id="fahrrad" value="ja">
						<input type="hidden" name="fahrrad" value="nein"></br>
					</div>
					<div class="toka_paragraph"></div>										
					<button type="submit" class="btn btn-default">Suchen</button>
				</form>
		</div>
	</div>
</div>
}