@main("Dyn.Hotelname") {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<p>
			<h1 class="toka_weisserText">Hotelname (dynamisch)</h1>
			</p>
			<h6>
				<a class="toka_weisserText" href="rate_hotel.scala.html">Bewertung erfassen </a>| auf Merkliste
				setzen
			</h6>
			Es wurden *anzahlHotels* gefunden:<br/>
			<p>
				<img src=@routes.Assets.at("images/hotelA.jpg") alt="Hotel A"></a>
			</p>
			*Daten zum Hotel aus der Datenbank*
			<p>
				<img src=@routes.Assets.at("images/bilderstrecke.jpg")>
			</p>
			<h2>Bewertung zu *Hotelname*</h2>
			<p>
				<img src=@routes.Assets.at("images/bewertungen.jpg")>
		</div>
	</div>
</div>
}