@(userVorname: String, hotel:models.Hotel, titelbild:models.Bild, bilder:List[models.Bild], bewertungen:List[models.Bewertung], bewertungsBilder:List[models.Bild])
@main("Hotelbewertungen")(userVorname)("2") {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h1>@hotel.getName()</h1>
			<div class="toka_paragraph"></div>
			<h4>Jetzt <a href="rate_hotel_fromHotel?name=@hotel.getName()">Bewertung erfassen</a></h4>
			<div class="toka_paragraph"></div>
			<p>
				<img src=@titelbild.getPfad() alt="Kein Titelbild vorhanden"></a>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			@for(bild <- bilder) {
				<img src=@bild.getPfad() width = "250" height = "175">
			}
		<div id="toka_line-separator"></div>
		</div>
	</div>		
</div>
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<p>Kurzbeschreibung: @hotel.getKurzbeschreibung()</p>
			<p>Lange Beschreibung: @hotel.getLangtext()</p>
			<p>Verpflegung: @hotel.getVerpflegung()</p>
			<p>Kindergeiegnet: @hotel.getKinder()</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h2>Hier die aktuellsten Bewertungen - <a href="allRates.scala.html?hotel=@hotel.getName()&id=@hotel.getId()">alle</a></h2>
			<div class="toka_paragraph"></div>
		</div>
	</div>
</div>
@for(bewertung <- bewertungen) {
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">	
				<p>Beschreibung: @bewertung.getBeschreibung()</p>
				<p>Kommentar: @bewertung.getKurzkommentar()</p>
				<p>Urlaubsart: @bewertung.getArt()</p>
				<p>Kinder: @bewertung.getKinder()</p>
				<p>Verpflegung: @bewertung.getVerpflegung()</p>
				<p>Von: @bewertung.getVon()</p>
				<p>Bis: @bewertung.getBis()</p>
				<p>Rating: @bewertung.getRating()</p>

				@for(bewertungsBild <- bewertungsBilder) {
					@if(bewertungsBild.getFk_Bewertung() == bewertung.getId()){
						<img src=@bewertungsBild.getPfad() width = "250" height = "175">
					}
				}
			</div>
		</div>
	</div>
	@if(bewertung != bewertungen.get(bewertungen.size()-1)) {
		<div id="toka_line-separator"></div>
		}
	}
}