<!DOCTYPE html>
<html>
<head>
	<title>ToKa</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/bootstrap.min.customized.css">
</head>
<body>
<div id="toka_header">
	<header>
		<div class="toka_headerTopLine">
			<div class="headerLinks">
				<a href="login.scala.html" class="navbar-link">Anmelden |</a>
				<a href="registration.scala.html" class="navbar-link"> Registrieren</a>
			</div>
		</div>
		<div class="toka_logo">
			<a href="index.scala.html"><img alt="ToKa Logo" src="../../public/images/logo.jpg"></a>
		</div>
			<div class="toka_headerText">
				<h1>ToKa - Dein Bewertungsportal</h1>
			</div>
		<div>
			<form class="form-inline" role="search">
				<div class="form-group toka_headerSearch">
					<input type="text" class="form-control" placeholder="Hotel Suchen">
					<button type="submit" class="btn btn-default">suchen</button>
			</form>
		</div>
	</header>
</div>
	<div id="body" position=na>
		<h1>Anmelden</h1>
		<form>
		<input placeholder="Email Adresse" type="email" name="Email Adresse" class="form-control toka_textfelder">
		<input placeholder="Passwort" type="password" name="passwort" class="form-control toka_textfelder">
		<a>Passwort vergessen</a>
		<a href="registration.scala.html">Kein Account?</a><br>
		
		<button type="button" onclick="" class="btn btn-default">Anmelden</button>
		</form>
	</div>
</body>
</html>