@(userVorname: String)
@main("Anmelden")(userVorname) {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h1 class="toka_weisserText">Anmelden</h1>
			<form role="form" action="checkLogin" method="GET">
				<input class="form-control toka_textfelder" placeholder="eMail" type="email" name="email" required="email" autofocus></br>
				<input class="form-control toka_textfelder" placeholder="Passwort" type="password" name="password" required="password">
				<a class="toka_weisserText">Passwort vergessen? |</a>
				<a class="toka_weisserText" href="registration.scala.html"> Kein Account?</a></br>
				<button type="submit" class="btn btn-default">Anmelden</button>
			</form>
		</div>
	</div>
</div>
}