@(userVorname: String)
@main("Neues Hotel")(userVorname)("2") {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h1>Neues Hotel</h1>
			<div class="toka_paragraph"></div>
			<h4>Füllen Sie alle Felder aus. Nach Abschicken dieses Formulars erhalten wir eine eMail.</h4>
			<div class="toka_paragraph"></div>
				<form action="mailto:tobias.spott@@gmx.de" enctype="text/plain">
					<input type="text" class="form-control toka_textfelder" name="name" placeholder="Hotelname"><br>
					<input type="text" class="form-control toka_textfelder" name="ort" placeholder="Ort"><br>
					<input type="text" class="form-control toka_textfelder" name="plz" placeholder="PLZ"><br>
					<input type="text" class="form-control toka_textfelder" name="strasse" placeholder="Strasse"><br>
					<input type="text" class="form-control toka_textfelder" name="land" placeholder="Land"><br>
					<p><textarea style="width: 40%;" class="form-control" name="Beschreibung" placeholder="Beschreibung"  cols="100" rows="10"></textarea></p>
					<button type="submit" class="btn btn-default">Hoteldaten abschicken</button>
				</form>
		</div>
	</div>
</div>
}