@main("Newsletter") {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h1 class="toka_weisserText">Newsletter</h1>
			<h3 class="toka_weisserText">Anmelden</h3>
			<form>
				<input placeholder="eMail" type="text" name="eMail" class="form-control toka_textfelder"><br>
				<button type="button" class="btn btn-default">Abschicken</button>
			</form>
			<h3 class="toka_weisserText">Abmelden</h3>
			<form>
				<input placeholder="eMail" type="text" name="eMail" class="form-control toka_textfelder"><br>
				<button type="button" class="btn btn-default">Abschicken</button>
			</form>
		</div>
	</div>
</div>
}