@main("Bewerten") {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h2 class="toka_weisserText">Bewertung für Hotel...</h2>
			<form>	
				<p class="toka_weisserText">Art</p>
				<select class="form-control toka_textfelder" name="Urlaub">
					<option value="F">Familienurlaub</option>
					<option value="S">Single Urlaub</option>
					<option value="P">Party Urlab</option>
					<option value="K">Kultur Urlaub</option>
				</select><br/>
				<p class="toka_weisserText">Kindergeeignet</p>
				<select class="form-control toka_textfelder" name="kinder">
					<option value="J">Ja</option>
					<option value="N">Nein</option>
				</select><br/>
				<p class="toka_weisserText">Verpflegung</p>
				<select class="form-control toka_textfelder" name="Verpflegung">
					<option value="AI">All Inclusive</option>
					<option value="V">Vollpension</option>
					<option value="H">Halbpension</option>
					<option value="N">Nichts</option>
				</select><br/>
				<p class="toka_weisserText">Von</p>
				<input type="date" class="form-control toka_textfelder" name="Von" placeholder="dd/mm/yyyy"><br/>
				<p class="toka_weisserText">Bis</p>
				<input type="date" class="form-control toka_textfelder" name="Bis" placeholder="dd/mm/yyyy"><br/>
				<p class="toka_weisserText">Rating</p>
				<input type="text" class="form-control toka_textfelder" name="Rating" placeholder="+++ hier kommen die Sterne hin +++"><br/>
					<p><textarea class="form-control toka_textarea" name="beschreibung" placeholder="Beschreibung"  cols="100" rows="10"></textarea></p>
					<p><a href=" ">Laden</a> Sie hier Fotos hoch</p>
			</form>
		</div>
	</div>
</div>
}