@main("Registrieren") {
<div class="row">
	<div class="col-md-4">
		<div class="container">
			<h1 class="toka_weisserText">Registrieren</h1>
				<form>
					<input class="form-control toka_textfelder" placeholder="Vorname" type="text" name="Vorname"></br>
					<input class="form-control toka_textfelder" placeholder="Nachname" type="text" name="Nachname"></br>
					<input class="form-control toka_textfelder" placeholder="Alter" type="text" name="Alter" class="form-control"></br>
								
					<p class="toka_weisserText">Geschlecht</p>
					<select class="form-control toka_textfelder"  name="Geschlecht">
						<option value="m">männlich</option>
						<option value="w">weiblich</option>
					</select><br/>
					
					<p class="toka_weisserText">Familienstand<p/>
					<select class="form-control toka_textfelder"  name="Familienstand">
						<option value="ld">Ledig</option>
						<option value="vh"><Verheiratet</option>
						<option value="gt">Getrennt</option>
						<option value="gs">Geschieden</option>
						<option value="vw">Verwitwet</option>
					</select><br/>
					
					<input class="form-control toka_textfelder" placeholder="Straße" type="text" name="Straße"></br>
					<input class="form-control toka_textfelder" placeholder="Ort" type="text" name="Ort"></br>
					<input class="form-control toka_textfelder" placeholder="Postleitzahl" type="text" name="Postleitzahl"></br>
					<input class="form-control toka_textfelder" placeholder="Benutzer" type="text" name="Benutzer"></br>
					<input class="form-control toka_textfelder" placeholder="Passwort" type="password" name="Passwort"></br>
					<input class="form-control toka_textfelder" placeholder="Passwort Wdh." type="password" name="Passwort Wdh"></br>
					<input class="form-control toka_textfelder" placeholder="Email Adresse" type="text" name="Email Adresse"></br>
					<p><a href="agbs.scala.html">AGB's</a> akzeptieren</p>
					<p><input type="checkbox" name="AGBs"/>stimme zu</p>
					<button type="button" class="btn btn-default">Abschicken</button>
				</form>
		</div>
	</div>
	<div class="col-md-8">
		<div class="container-fluid">
			<img src=@routes.Assets.at("images/platzhalter.jpg") alt="Profilbild">
			<input type="file" name="upload">
		</div>
	</div>
</div>
}
