@(userVorname: String)
@main("Hotelsuche")(userVorname) {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h2 class="toka_weisserText">Hotelsuche</h2>
				<form method="GET" action="results_search_hotel_enhanced.scala.html">
					<p><input placeholder="Land" type="text" name="land" class="form-control toka_textfelder"></p>
					<p><input placeholder="Stadt" type="text" name="stadt" class="form-control toka_textfelder"></p>
					<p><input placeholder="Hotel" type="text" name="hotel" class="form-control toka_textfelder"></p>
										
					<label class="radio-inline">
						<input type="radio" name="verpflegung" value="AI" checked= "checked"> <p class="toka_weisserText">All Inclusiv</p>
					</label>
					<label class="radio-inline">
						<input type="radio" name="verpflegung" value="HP"> <p class="toka_weisserText">Halbpension</p>
					</label>
					<label class="radio-inline">
						<input type="radio" name="verpflegung" value="VP"> <p class="toka_weisserText">Vollpension</p>
					</label><br>
								
					<div class="checkbox">
					  <label>
						<input type="checkbox" name="pool">
						<p class="toka_weisserText">Pool</p>
					  </label>
					  <label>
						<input type="checkbox" name="strand">
						<p class="toka_weisserText">Strand</p>
					  </label>
					  <label>
						<input type="checkbox" name="zentrum">
						<p class="toka_weisserText">Zentrum</p>
					  </label>
					  <label>
						<input type="checkbox" name="fahrrad">
						<p class="toka_weisserText">Fahrrad verleih</p>
					  </label>
					</div>
									
					<button type="submit" class="btn btn-default">Suchen</button>
				</form>
		</div>
	</div>
</div>
}