<!DOCTYPE html>
<html>
<head>
<title>ToKa - Startseite</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/bootstrap.min.customized.css">
</head>
<body>	
<div id="toka_header">
	<header>
		<div class="toka_headerTopLine">
			<div class="headerLinks">
				<a href="login.scala.html" class="navbar-link">Anmelden |</a>
				<a href="registration.scala.html" class="navbar-link"> Registrieren</a>
			</div>
		</div>
		<div class="toka_logo">
			<img alt="ToKa Logo" src="../../public/images/logo.jpg">
		</div>
			<div class="toka_headerText">
				<h1>ToKa - Dein Bewertungsportal</h1>
			</div>
		<div>
			<form class="form-inline" role="search">
				<div class="form-group toka_headerSearch">
					<input type="text" class="form-control" placeholder="Hotel Suchen">
					<button type="submit" class="btn btn-default">suchen</button>
			</form>
		</div>
	</header>
</div>
	<div class="row">
		<div class="col-md-4">
			<div class="container-fluid">
				<h2>Hotelsuche</h2>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<p>
							<input placeholder="Land" type="text" name="land"
								class="form-control">
						</p>
						<p>
							<input placeholder="Stadt" type="text" name="stadt"
								class="form-control">
						</p>
						<p>
							<input placeholder="Hotelname" type="text" name="hotelname"
								class="form-control">
						</p>
						<button type="button" onclick="" class="btn btn-default">Suchen</button>
						<a href="search_hotel.scala.html">erweiterte Suche</a>
					</div>
			</div>
		</div>
		<div class="col-md-4">
			<p class="text-center">
			<h3>
				Schon ihren letzten Hotelbesuch bewertet?<br /> Nein ? - Dann <a
					href="rate_hotel.scala.html">los!!</a>
			</h3>
			</p>
		</div>
		<div class="col-md-4">"Kürzlich bewertet Funktion"</div>
	</div>
	<div class="row">
		<div class="container-fluid">
			<h2>Traumziele 2014:</h2>
			<div class="col-md-2">

				<a href="information_1hotel.scala.html" class="thumbnail"> <img
					src="../../public/images/hotelA.jpg" alt="Hotel A">
				</a>

			</div>
			<div class="col-md-2">
				<a href="information_1hotel.scala.html" class="thumbnail"> <img
					src="../../public/images/hotelA.jpg" alt="Hotel A">
				</a>
			</div>
			<div class="col-md-2">
			<a href="information_1hotel.scala.html" class="thumbnail"> <img
				src="../../public/images/hotelA.jpg" alt="Hotel A">
			</a>
			</div>
			<div class="col-md-2"></div>
		</div>
		<!--  <div class="col-md-4">.col-md-4</div>-->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">
				<a href="impressum.scala.html">Impressum</a> | <a href="contact.scala.html">Kontakt</a>
				| <a href="agbs.scala.html">AGBs</a> | <a href="newsletter.scala.html">Newsletter</a>
				| <a href="http://www.facebook.com" target="_blank">follow us on
					fb</a>
			</div>
		</div>
	</div>
</body>
</html>


