@(userVorname: String)
@main("Willkommen")(userVorname) {
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h2 class="toka_weisserText">Willkommen bei ToKa - Dein Hotelbewertungsportal</h3>
			<h3 class="toka_weisserText">Hallo @userVorname</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="container-fluid">
			<h3 class="toka_weisserText">Hotel bewerten? Klicken Sie <a href="rate_hotel.scala.html">hier</a></h3>
			<h3 class="toka_weisserText"><a href="profile.scala.html">Hier</a> geht's zu Ihrem Profil</h3>
		</div>
	</div>
</div>
}